<!-- VEHICLE INDEX.EJS -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>View Vehicles Page</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/vehicles/edit.ejs">Edit Vehicle</a></li>
          <li><a href="/vehicles/new.ejs">Add Vehicle</a></li>
          <li><a href="/vehicles/show.ejs">Show Vehicle</a></li>
          <li><a href="/vehicles/index.ejs">Created Vehicle</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>List of Vehicles</h2>
      <ul>
        <% for(let i = 0; i < vehicles.length; i++){ %>
          <li>
            <a href="/vehicles/<%=vehicles[i]._id%>"><%=vehicles[i].name%></a>
          </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
