<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>View Vehicles Page</h1>
    </header>
    <main>
      <h2>List of Vehicles</h2>
      <ul>
        <% for(let i = 0; i < vehicles.length; i++){ %>
          <li>
            <a href="/vehicles/<%=vehicles[i].id%>"><%=vehicles[i].year%> <%=vehicles[i].make%> <%=vehicles[i].model%></a>
          </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
