<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Welcome to Maintenance Tracker</h1>
      <nav>
        <ul>
          <li><a href="/vehicles"></a>Vehicles</li>
          <li><a href="/services"></a>Services</li>
        </ul>
      </nav>
    </header>
  </body>
</html>
