<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Add Service to Record</h1>
    </header>
    <main>
      <form action="/services" method="POST">
        Service Description <input type="text" name="description"/>
        Mileage Completed <input type="number" name="mileage"/>
        Date Completed <input type="date" name="date"/>
        Location of Service <input type="text" name="location"/>
        <input type="submit" value="Add Service"/>
      </form>
    </main>
  </body>
</html>
